@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-canvas text-ink-primary antialiased;
  }
  /* Custom Scrollbar for a polished feel */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-stone-300 rounded-full hover:bg-stone-400 transition-colors;
  }
}
